#root {
  padding: 2rem;
  padding-bottom: 0;
  text-align: center;
  width: 100%;
  position: relative;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 20px;
}

header::after {
  font-weight: 800;
  position: absolute;
  content: '';
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background: linear-gradient(91deg,transparent 0%, rgb(7, 173, 176) 67%);;
}

.RMLogo {
  max-width: 260px;
}

.RickAndMorty {
  position: absolute;
  bottom: 0;
  max-width: 300px;
}

.RM_home {
  position: absolute;
  bottom: 0;
  max-width: 300px;
}

.dont_panic {
  max-width: 400px;
}
