.search_input {
  border: 1.7px solid rgba(124, 124, 124);
  margin: 10px;
  padding: 6px;
  font-size: 16px;
}

.search_container {
  display: flex;
  justify-content: space-around;
}

.container {
  display: flex;
  flex-direction: column;
}

.each_character {
  padding: 20px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(240, 255, 248, 0.2);
  border: 1px solid rgb(7, 173, 176);
  border-radius: 10px;
  width: 70%;
  height: 70%;
  overflow: hidden;
}

.person_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.person_info {
  text-align: left;
}

.person_img {
  border-radius: 50%;
  margin: 30px;
}

.go_back_btn {
  background-color: rgba(127, 255, 212, 0.306);
  width: 200px;
}



